body {
  margin: 0;
  font-family: "Vazir", "tahoma", "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282a36;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-input-placeholder{
  color: #f8f8f4 !important;
}

input{
  color: #f8f8f4 !important;
  background-color: #44475a !important;
  border-color: #bd93f9 !important;
}

.form-control{
  background-color: #44475a !important;
  color: #f8f8f4 !important;
  border-color: #bd93f9 !important;
}